.loginBtn {
	background: #527198;
	color: white;
	border: 2px solid #527198;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 10px;
	text-transform: uppercase;
	width: 12%;
}

.customNavbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		text-decoration: none;
		color: #747574;
	}
	h5 {
		padding: 5px 5px;
		margin: 10px;
	}
	.searchWithLogo {
		display: flex;
		align-items: center;
	}

	.links {
		display: flex;
	}
}
